/** 自定义 图表示例 Gallery 样式 START **/

[class*='markdown-module--gallery'] [class*='markdown-module--galleryCardLink'] > div {
  img {
    width: 100%;
    height: 100%;
    object-fit: fill !important;
  }
}

/** 自定义 组件-API Gallery 样式 END **/
